body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    border: 1px solid grey;
    margin: 30px 30px;



}

label{
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    margin: 30px 0;
}
input{
    width: 30vw;
    height: 5vh;
    margin: 5px 0;
}
button{
    width: 30vw;
    height: 5vh;
    border: none;
    appearance: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 25px;
}
p{
    font-size: 25px;
    color: #7A7070;
    font-family: Arial;
}

