@media screen and (max-width: 440px){
    .a{
        height: 20vh;
    }
    main{
        flex-direction: column;
    }
    .flex{
        width: 100vw;
    }
    .f{
        width: 100vw;
        height: 20vw;
    }
}