body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.block_1{
    border: 3px solid black;
    width: 20vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.in_1 {
    border: 3px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h3{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 0;
}