*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:dtext-decoration-line: overline;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-justify: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.frame{
    width: 100%;
    height: 37px;
    flex-shrink: 0;
    background: var(--s-gradient-2, linear-gradient(229deg, #0047ff 0%, #00BCD4 100%));
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame_p{
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 160.588% */
    text-transform: uppercase;
}

.nav{
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 67px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectoin_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 27px;
    flex-shrink: 0;

}
.block_nav{
    display: flex;
    justify-content: space-around;
    width: 50%;

}
.text_nav{
    color: #848895;
    text-align: center;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 160.588% */
}

.hero_content{
    width: 100%;
    height: 664px;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h1_hero{
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 75.6px; /* 108% */
    letter-spacing: 0.68px;
    margin: 7px 0;
}
.text_hero{
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 130% */
    margin: 48px 0;
}
.use{
    display: flex;
    justify-content: center;
    align-items: center;
}
.butt_1{
    border-radius: 36px;
    border: 1px solid #000;
    background: var(--s-button, linear-gradient(152deg, #8C01FA 0%, #000 100%));display: inline-flex;
    padding: 16px 33px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    text-transform: uppercase;
    margin: 0 15px;
}
.butt_2{
    border-radius: 36px;
    border: 1px solid #FFF;
    background: #000;
    display: inline-flex;
    padding: 16px 33px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    text-transform: uppercase;
}

.client{
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text_client{
    color: #618ADC;
    text-align: center;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 112% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
}
.block_clien{
    display: flex;
    padding: 0px 50px;
    align-items: flex-start;
    gap: 40px;
}

.community{
    width: 100%;
    display: inline-flex;
    padding: 124.594px 296px 125.406px 303px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 1)

}
.body_comnt{
    display: flex;
    width: 1140px;
    height: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
}
.head_comnt{
    display: flex;
    width: 1140px;
    height: 653px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}
.head_right_comnt{
    width: 50%;
    height: 573px;
}
.text_head_right_comny{
    color: #FFF;
    font-family: Helvetica;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px; /* 121.579% */
    letter-spacing: 1px;
}
.head_left_comnt{
    display: flex;
    width: 50%px;
    height: 573px;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}
.a_head_left_comnt{
    width: 530px;
    height: 159px;
    flex-shrink: 0;
}
.number_a_head{
    font-family: Helvetica;
    font-size: 101px;
    font-style: normal;
    font-weight: 400;
    line-height: 132px; /* 130.693% */
    background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text_a_head{
    color: #C4C4C4;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 170.625% */
    text-transform: uppercase;
}

.foot_community{
    display: flex;
    width: 100%;
    height: 723px;
    padding: 64px 0px 0px 20px;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;
    flex-shrink: 0;
}

.left_foot{
    width: 340px;
    height: 659px;
    background: rgba(0, 0, 0, 0.3)
}
.block_left{
    width: 340px;
    height: 116px;
}
.title_left{
    color: #FFF;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px; /* 115.5% */
    letter-spacing: 1px;
}
.text_left{
    color: #C4C4C4;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
}

.midl_foot {
    width: 340px;
    height: 659px;
}
.block_midl{
    width: 340px;
    height: 308px;
    flex-shrink: 0;
    padding: 32px;
}
.title_block{
    color: #FFF;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.04px; /* 118% */
}
.text_block{
    color: #C4C4C4;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 160.588% */
    margin: 10px 0 23px 0;
}
.numb_block{
    color: #FFF;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 100% */
}
.last_block{
    color: #C4C4C4;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 170.625% */
    text-transform: uppercase;
}

.right_foot{
    width: 340px;
    height: 670px;
}
.block_right{
    width: 340px;
    height: 335px;
    flex-shrink: 0;
}
/*-----build-------*/
.build{
    height: 1726px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_build{
    padding: 0 20px;
    width: 1140px;
    height: 562.188px;
    background-color: rgba(0, 0, 0, 1); /*----*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.nav_top{
    display: flex;
    width: 1100px;
    height: 48.188px;
    justify-content: center;
    align-items: flex-start;
    gap: 361.031px;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.2); /*----*/
}
.title_nov{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 299px;
    flex-shrink: 0;
}
.text_title{
    color: #FFF;
    font-family: Helvetica;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px; /* 118.462% */
    letter-spacing: 1px;
}
.block_nav{
    display: flex;
    width: 439.969px;
    height: 48.188px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}
.chek_nav{
    padding: 10px 14px;
    border-radius: 15px;
    border: 1px solid #111;
    background: #303030;
    background-color: rgba(26, 26, 26, 1);
}
.chek_nav:hover{
    border-radius: 15px;
    border: 1px solid #A962FF;
    background: #111;
}
.text_chek{
    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 170.625% */
}
.midl_top {
    display: flex;
    width: 100%;
    height: 400px;

}
.img_midl{
    width: 550px;
    height: 400px;
    flex-shrink: 0;
}
.content_midl{
    width: 550px;
    height: 400px;
    flex-shrink: 0;
    background-color: rgba(26, 26, 26, 1); /*----*/
}
.img_contetnt{
    margin: 94.65px 0 0 45px;
}
.text_content{
    color: #FFF;
    font-family: Helvetica;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 130% */
    width: 439px;
    margin: 14px 48px;
}
.next_text_content{
    color: #A962FF;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 136.5% */
    margin: 14px 48px;
}
.boot_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 1100px;
    height: 62px;
    background-color: rgba(26, 26, 26, 1);
}



