main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 80vh;
    border: 1px solid #605d5d;
}
input{
    width: 70%;
    height: 50px;
    margin: 5px 0;
    text-overflow: ellipsis;
    padding: 0 0 0 10px;
}

button{
    background-color: dodgerblue;
    color: white;
    appearance: none;
    width: 73%;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin: 10px 0 0 0;
}
.abo{
    font-size: 20px;
    color: grey;
}
h3{
    color: rgb(63, 81, 181);
}
.or{
    color: rgb(63, 81, 181);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    height: 10vh;
    border: 1px solid #605d5d;
    margin: 10px 0;
}

.fot{
    font-size: 18px;
    letter-spacing: 0.6px;
}
a{
    text-decoration: none;
}